.menu-body {
  margin: 0 auto;
  display: block;
  color: var(--body_text);
  max-width: 10in;
  width:98vw;
}

.menu-section {
  margin-bottom: 2 vh;
}

.menu-section-title {
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  font-size: var(--font_menu_big);
  display: block;
  font-weight:normal;
  text-align: Center;
}

.menu-item {
  margin: 1vh 0;
}
/* .menu-title {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 90vh;
  width: 110vw;
  height: 10vh;
  left:-5vw;
  text-align: center;
  text-decoration: none;
  border:none;
  align-items: center;
  justify-content: center;

  font-family: 'Copperplate', fantasy;
  font-size: 5vh;
  color:var(--tabbar_text);
  background-color: var(--tabbar_background);
} */
.menu-item-name{
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  /* font-weight: bold; */
  font-size: var(--font_menu_middle);
  margin-left:2vw;
  margin-right: 30vw;
  /* margin-bottom: 0.5vh; */
}

.menu-item-description {
  border-top: .4vh dotted var(--body_text);
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  font-style: italic;
  font-size: var(--font_menu_small);
  padding-top: 0vh;
  margin-bottom: 2vh;
  margin-left:2vw;
  margin-right:2vw;
}


.menu-item-price{
  float: right;
  /* font-weight: bold; */
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  font-size: var(--font_menu_middle);
  margin-top: -3vh;
  margin-left:2vw;
  margin-right:2vw;
}
