<!-- create_book.html -->
{% extends 'base.html' %}  <!-- Extend a base template if you have one -->

{% block content %}
<style>

  
  .home{color:var(--active_button)}
  </style>

  {% load static %}
      <a href="{% url 'home' %}">
        <button class="tabbar home">
            <img src="{% static 'icons/home_active.png' %}">
            <br>
            Start
        </button>
    </a>
    <a href="{% url 'menu' %}">
        <button class="tabbar menu">
            <img src="{% static 'icons/menu.png' %}" >
            <br>
            Menu
        </button>
    </a>
    <a href="{% url 'user_orders' %}">
        <button class="tabbar mybook">
            <img src="{% static 'icons/tables.png' %}">
            <br>
            Tische
        </button>
    </a>
    {% if user.is_authenticated %}
    <a href="{% url 'account' %}">
        <button class="tabbar login_user">
            <img src="{% static 'icons/account.png' %}">
            <br>
            Profil
        </button>
    </a>
    {% else %} 
    <a href="{% url 'login_user' %}">
        <button class="tabbar login_user">
            <img src="{% static 'icons/login.png' %}">
            <br>
            Login
        </button>
    </a>
    
    {% endif %}
 
    {% if user.is_authenticated %}
<div class="wrapper">
  <div class="title-text">
    <div class="title login" style="font-size: 4vh;">Tischreservierung</div>
  </div>
    <div class="form-inner">
      <form method="POST" action="{% url 'create_book'%}" class="login">
        {% csrf_token %}
        <div class="field">
          <input type="date" name="date" placeholder="Datum">
        </div>
        <div class="field">
          <input type="time" name="time" placeholder="Zeit">
        </div>
        <div class="field">
          <input type="number" name="guests" placeholder="Anzahl der Gäste">
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Tisch reservieren">
        </div>


        <div class="error_message-text">
        {% if messages %}
        {% for message in messages %}
        <div  class="error_message">{{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>
      </form>
      
    </div>
  </div>

</div>
{% else %} 
  
<div class="wrapper">


  <div class="title-text">
    <div class="title" style="font-size: 4vh;">Tischreservierung</div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login"  >Mit meinem login</label>
      <label for="signup" class="slide signup">Als neuer Gast</label>
      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
      <form method="POST" action="{% url 'create_book'%}" class="login">
        {% csrf_token %}
        <div class="field">
          <input type="text" name="username" placeholder="Nutzername">
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="Passwort">
        </div>
        <div class="field">
          <input type="date" name="date" placeholder="Datum">
        </div>
        <div class="field">
          <input type="time" name="time" placeholder="Zeit">
        </div>
        <div class="field">
          <input type="number" name="guests" placeholder="Anzahl der Gäste">
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Tisch reservieren" style="font-size: 3.5vh;">
        </div>


        <div class="error_message-text">
        {% if messages %}
        {% for message in messages %}
        <div  class="error_message">{{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>
      </form>
      <form method="POST" action="{% url 'create_book'%}" class="signup">
        {% csrf_token %}
        <div class="field">
          <input type="text" name="last_name" placeholder="Name">
        </div>
        <div class="field">
          <input type="text" name="phone" placeholder="Telefonnummer">
        </div>
        <div class="field">
          <input type="date" name="date" placeholder="Datum">
        </div>
        <div class="field">
          <input type="time" name="time" placeholder="Zeit">
        </div>
        <div class="field">
          <input type="number" name="guests" placeholder="Anzahl der Gäste">
        </div>
        <div class="field btn">
          <div class="btn-layer" ></div>
          <input type="submit" value="Tisch reservieren" style="font-size: 3.5vh;">
        </div>


        <div class="error_message-text">
        {% if messages %}
        {% for message in messages %}
        <div  class="error_message">{{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>
      </form>
      
    </div>
  </div>

</div>
    {% endif %}
<script>
const loginText = document.querySelector(".title-text .login");
const loginForm = document.querySelector("form.login");
const loginBtn = document.querySelector("label.login");
const signupBtn = document.querySelector("label.signup");
const signupLink = document.querySelector("form .signup-link a");
signupBtn.onclick = () => {
  loginForm.style.marginLeft = "-50%";
  loginText.style.marginLeft = "-50%";
};
loginBtn.onclick = () => {
  loginForm.style.marginLeft = "0%";
  loginText.style.marginLeft = "0%";
};
signupLink.onclick = () => {
  signupBtn.click();
  return false;
};
  </script>
{% endblock %}
