
{% extends 'base.html' %}

{% block title %}Your Page Title{% endblock %}

{% block content %}
   

<style>
   
</style>
<br>
<div class="tables-container" >
<div class="button-container" >
    <a href="{% url 'create_book' %}">
        <button class="std_button">Tisch reservieren</button>
    </a>     

</div>
{% if user.is_authenticated %}
<div class="notifications" style="overflow-y: auto">
    <div class="title-text">
        <div class="title">Benachrichtigungen</div>
      </div>

{% if notifications %}
    <ul>
        {% for notification in notifications %}
        {% if notification.is_read == False %}

        <a href="{% url 'user_orders' %}?method=Show_Table&notification_id={{ notification.id }}">
            <button class="notification">
                <div class="title_not">
                {{ notification.title }}
            </div>
            <!-- <hr> -->
            <div class="message">
                {{ notification.message }}
            </div>
        </button></a>
        {% endif %}
        {% endfor %}
    </ul>
{% else %}
<div class="title-text">
    <div class="title" style="font-size: 2vh;padding-bottom: 2vh;">Sie haben keine Benachrichtigungen</div>
  </div>
{% endif %}
{% endif %}
</div>



</div>
</div>


    <style>

/* .container {
  position: fixed;
  left:0vw;
  bottom: 30vh;
  width: 100vw;
  height: 30vh;
  white-space: nowrap;
}
.item {
color:var(--text);
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
font-size: 100px;
background-color: var(--button);
margin-right: 4vw;
border-radius: 2vw ;
  width: 80vw;
  height:26vh;
}
.flex {
  display: flex;
  flex-wrap: nowrap; 
  overflow:scroll;
}

.flex-item {
  flex: 10 0 auto;
} */

.home{color:var(--active_button)}



    </style>
       <!-- <div class="container flex">
        <div class="item flex-item">News 1</div>
        <div class="item flex-item">News 2</div>
        <div class="item flex-item">News 3</div>
        <div class="item flex-item">News 4</div>
        <div class="item flex-item">News 5</div>
      </div> -->

      
   
      
      
 {% load static %}
      <a href="{% url 'home' %}">
        <button class="tabbar home">
            <img src="{% static 'icons/home_active.png' %}">
            <br>
            Start
        </button>
    </a>
    <a href="{% url 'menu' %}">
        <button class="tabbar menu">
            <img src="{% static 'icons/menu.png' %}" >
            <br>
            Menu
        </button>
    </a>
    <a href="{% url 'user_orders' %}">
        <button class="tabbar mybook">
            <img src="{% static 'icons/tables.png' %}">
            <br>
            Tische
        </button>
    </a>
    {% if user.is_authenticated %}
    <a href="{% url 'account' %}">
        <button class="tabbar login_user">
            <img src="{% static 'icons/account.png' %}">
            <br>
            Profil
        </button>
    </a>
    {% else %} 
    <a href="{% url 'login_user' %}">
        <button class="tabbar login_user">
            <img src="{% static 'icons/login.png' %}">
            <br>
            Login
        </button>
    </a>
    
    {% endif %}

{% endblock %}
