
{% extends 'base.html' %}

{% block title %}Your Page Title{% endblock %}

{% block content %}
   
{% if user.is_authenticated %}


    <a href="{% url 'create_book' %}">
        <button class="tobook">New Reservation</button>
    </a>
    {% endif %}
    <style>
        /* Additional styling for the button within the content block */
        .tobook {
        position: fixed;
        bottom: 70vh;
        left:10vw;
        width:80vw;
        height:10vh;
        border: white;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 7vh;
        cursor: pointer;
        background-color: #000000;
        border-radius: 2vw;
        }
        .home{color:red}

.container {
  position: fixed;
  left:0vw;
  bottom: 30vh;
  width: 100vw;
  height: 30vh;
  white-space: nowrap;
}

.item {
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 7vh;
cursor: pointer;
background-color: #000000;
margin-right: 4vw;
border-radius: 2vw ;
  width: 80vw;
  height:26vh;
}
/* Flex */
.flex {
  display: flex;
  flex-wrap: nowrap; 
  overflow:scroll;
}

.flex-item {
  flex: 0 0 auto;
}
    </style>

      <div class="container flex">
        <div class="item flex-item">News 1</div>
        <div class="item flex-item">News 2</div>
        <div class="item flex-item">News 3</div>
        <div class="item flex-item">News 4</div>
        <div class="item flex-item">News 5</div>
      </div>

{% endblock %}
