
{% extends 'base.html' %}
{% block title %}Your Page Title{% endblock %}

{% block content %}
   
    <style>
    .menu{color:var(--active_button)}
    </style>

{% load static %}
<a href="{% url 'home' %}">
  <button class="tabbar home">
      <img src="{% static 'icons/home.png' %}">
      <br>
      Start
  </button>
</a>
<a href="{% url 'menu' %}">
  <button class="tabbar menu">
      <img src="{% static 'icons/menu_active.png' %}" >
      <br>
      Menu
  </button>
</a>
<a href="{% url 'user_orders' %}">
  <button class="tabbar mybook">
      <img src="{% static 'icons/tables.png' %}">
      <br>
      Tische
  </button>
</a>
{% if user.is_authenticated %}
<a href="{% url 'account' %}">
  <button class="tabbar login_user">
      <img src="{% static 'icons/account.png' %}">
      <br>
      Profil
  </button>
</a>
{% else %} 
<a href="{% url 'login_user' %}">
  <button class="tabbar login_user">
      <img src="{% static 'icons/login.png' %}">
      <br>
      Login
  </button>
</a>
{% endif %}


<style>
 .menu-body {
  margin: 0 auto;
  display: block;
  color: var(--body_text);
  max-width: 10in;
  width:98vw;
}

.menu-section {
  margin-bottom: 2 vh;
}

.menu-section-title {
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  font-size: var(--font_menu_big);
  display: block;
  font-weight:normal;
  text-align: Center;
}

.menu-item {
  margin: 1vh 0;
}
/* .menu-title {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 90vh;
  width: 110vw;
  height: 10vh;
  left:-5vw;
  text-align: center;
  text-decoration: none;
  border:none;
  align-items: center;
  justify-content: center;

  font-family: 'Copperplate', fantasy;
  font-size: 5vh;
  color:var(--tabbar_text);
  background-color: var(--tabbar_background);
} */
.menu-item-name{
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  /* font-weight: bold; */
  font-size: var(--font_menu_middle);
  margin-left:2vw;
  margin-right: 30vw;
  /* margin-bottom: 0.5vh; */
}

.menu-item-description {
  border-top: .4vh dotted var(--body_text);
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  font-style: italic;
  font-size: var(--font_menu_small);
  padding-top: 0vh;
  margin-bottom: 2vh;
  margin-left:2vw;
  margin-right:2vw;
}


.menu-item-price{
  float: right;
  /* font-weight: bold; */
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  font-size: var(--font_menu_middle);
  margin-top: -3vh;
  margin-left:2vw;
  margin-right:2vw;
}
</style>
<div class="menu-body">
 <div class="menu-section">
  <h2 class="menu-section-title">
   VORNWECH
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Würzfleisch vom Schwein
   </div>
   <div class="menu-item-price">
    €7.90€
   </div>
   <div class="menu-item-description">
    mit Cheddar überbacken
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Kürbiscremesuppe
   </div>
   <div class="menu-item-price">
    €7.60€
   </div>
   <div class="menu-item-description">
    mit gerösteten Kürbiskernen
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Ukrainische Soljanka
   </div>
   <div class="menu-item-price">
    €7.70€
   </div>
   <div class="menu-item-description">
    Schmand | Baguette
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Zwiebel-Knoblauch Suppe
   </div>
   <div class="menu-item-price">
    €7.20€
   </div>
   <div class="menu-item-description">
    Kräutercroutons
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Ohne Fleisch
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Penne mit Grillgemüse
   </div>
   <div class="menu-item-price">
    €18.70€
   </div>
   <div class="menu-item-description">
    In Bärlauch Pesto geschwenkt
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Spinat-Käse Knödel
   </div>
   <div class="menu-item-price">
    €18.50€
   </div>
   <div class="menu-item-description">
    auf Tomatensuco mit Cheddar überbacken
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Grünkohl-Hanf-Bällchen
   </div>
   <div class="menu-item-price">
    €18.70€
   </div>
   <div class="menu-item-description">
    auf Butterpilzrahm
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Ofenkartoffel
   </div>
   <div class="menu-item-price">
    €12.70€
   </div>
   <div class="menu-item-description">
    Mit Kräuterschmand und Salatbouquet
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Hirtenkäse
   </div>
   <div class="menu-item-price">
    €11.90€
   </div>
   <div class="menu-item-description">
    Peperoni | Tomaten | Bärlauch Pesto
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Rote Bette Knödel
   </div>
   <div class="menu-item-price">
    €18.90€
   </div>
   <div class="menu-item-description">
    auf Steinpilzragout
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Grünzeuch
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Mühlensalat mit Hausdressing
   </div>
   <div class="menu-item-price">
    €6.50€
   </div>
   <div class="menu-item-description">
    Blattsalate | Tomaten | Gurken | Radieschen
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Gurkensalat
   </div>
   <div class="menu-item-price">
    €6.50€
   </div>
   <div class="menu-item-description">
    angemacht mit Dill-Essig-Öl
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Großer Mühlensalat
   </div>
   <div class="menu-item-price">
    €14.20€
   </div>
   <div class="menu-item-description">
    Hausdressing | Tomaten | Gurken | Radieschen | Paprika | Ei
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Aus´m Wasser
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Forelle „Müllerin“ (entgrätet)
   </div>
   <div class="menu-item-price">
    €19.80€
   </div>
   <div class="menu-item-description">
    Petersilienkartoffeln | Kräuterbutter | Salatbouquet
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Rauchmatjesfilet
   </div>
   <div class="menu-item-price">
    €19.70€
   </div>
   <div class="menu-item-description">
    Bratkartoffeln | Hausfrauensauce| Salatbouquet
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Fläschiges
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Schweinerückensteak „Au Four“
   </div>
   <div class="menu-item-price">
    €20.90€
   </div>
   <div class="menu-item-description">
    Würzfleisch | Käse überbacken | Mühlendipper | geräucherte Knoblauchmayonnaise
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Penne mit Hähnchen
   </div>
   <div class="menu-item-price">
    €19.80€
   </div>
   <div class="menu-item-description">
    in Tomaten-Paprika-Bacon Soße
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Ochsen Burger (200gr.)
   </div>
   <div class="menu-item-price">
    €19.90€
   </div>
   <div class="menu-item-description">
    Laugenbun | Tomate | Gewürzgurke| rote Zwiebel Süßkartoffelpommes | geräucherte Knoblauchmayonnaise
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Rumpsteak (Irland 300gr.)
   </div>
   <div class="menu-item-price">
    €29.90€
   </div>
   <div class="menu-item-description">
    Mühlendipper | geräucherte Knoblauchmayonnaise | Kräuterbutter | kleiner Mühlensalat
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    BBQ-Rinder Short Rips
   </div>
   <div class="menu-item-price">
    €31.30€
   </div>
   <div class="menu-item-description">
    Mühlendipper | Coleslaw | Dips
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Rostbrätel
   </div>
   <div class="menu-item-price">
    €17.90€
   </div>
   <div class="menu-item-description">
    Bratkartoffeln | Schmorzwiebeln | Senf | Salatbouquet
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Aus dem Ofenrohr
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Rinderroulade
   </div>
   <div class="menu-item-price">
    €20.90€
   </div>
   <div class="menu-item-description">
    Thüringer Kloß | Rotkohl
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Geschmortes Irisches Ochsenbäckchen
   </div>
   <div class="menu-item-price">
    €22.90€
   </div>
   <div class="menu-item-description">
    Thüringer Kloß | Rotkohl
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Halbe Ente (entbeint)
   </div>
   <div class="menu-item-price">
    €21.90€
   </div>
   <div class="menu-item-description">
    Thüringer Kloß | Rotkohl
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Schnitzel geht immer
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Schweinerücken-
    <br/>
    schnitzel
   </div>
   <div class="menu-item-price">
    €18.90€
   </div>
   <div class="menu-item-description">
    Mühlendipper | geräucherte Knoblauchmayonnaise | Gurkensalat
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Schweinerückenschnitzel mit 2 Setzeiern
   </div>
   <div class="menu-item-price">
    €20.90€
   </div>
   <div class="menu-item-description">
    Mühlendipper | geräucherte Knoblauchmayonnaise | Gurkensalat
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Schweinerückenschnitzel mit Rahmchampignons
   </div>
   <div class="menu-item-price">
    €20.90€
   </div>
   <div class="menu-item-description">
    Kroketten
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Schweinerückenschnitzel Würzfleisch
   </div>
   <div class="menu-item-price">
    €22.90€
   </div>
   <div class="menu-item-description">
    Mühlendipper | geräucherte Knoblauchmayonnaise
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Schweinerückenschnitzel „Stinkemüller“
   </div>
   <div class="menu-item-price">
    €23.90€
   </div>
   <div class="menu-item-description">
    überbacken mit Bacon &amp; Knoblauch| Bratkartoffeln
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Schweinerückenschnitzel „Bergsteiger“
   </div>
   <div class="menu-item-price">
    €24.90€
   </div>
   <div class="menu-item-description">
    überbacken mit geschmorten Zwiebel &amp; Speck | süßer Senf | Bergkäse Bratkartoffeln
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Für unsere kleinen Gäste
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Schnitzel
   </div>
   <div class="menu-item-price">
    €7.50€
   </div>
   <div class="menu-item-description">
    Mühlendipper | Ketchup
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Chicken Nuggets
   </div>
   <div class="menu-item-price">
    €6.90€
   </div>
   <div class="menu-item-description">
    Mühlendipper | Ketchup
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    1 Kloß mit Soße
   </div>
   <div class="menu-item-price">
    €6.50€
   </div>
   <div class="menu-item-description">
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Nudel mit Tomatensoße
   </div>
   <div class="menu-item-price">
    €6.50€
   </div>
   <div class="menu-item-description">
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    3 Kartoffelpuffer
   </div>
   <div class="menu-item-price">
    €5.90€
   </div>
   <div class="menu-item-description">
    Apfelmuss
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Süßes Zeuch
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Warmer Schokokuchen
   </div>
   <div class="menu-item-price">
    €7.50€
   </div>
   <div class="menu-item-description">
    Mango-Apfel-Chutney | Sauerrahmeis
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Gebackene Siegelbacher „Klossknubel“
   </div>
   <div class="menu-item-price">
    €7.90€
   </div>
   <div class="menu-item-description">
    Vanillesoße | Maroneneis
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Apfelstrudel mit Vanilleeis
   </div>
   <div class="menu-item-price">
    €7.90€
   </div>
   <div class="menu-item-description">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
   </div>
  </div>
 </div>
</div>
{% endblock %}