
{% extends 'base.html' %}
{% block title %}Your Page Title{% endblock %}

{% block content %}
   
    <style>
    .menu{color:var(--active_button)}
    </style>

{% load static %}
<a href="{% url 'home' %}">
  <button class="tabbar home">
      <img src="{% static 'icons/home.png' %}">
      <br>
      Start
  </button>
</a>
<a href="{% url 'menu' %}">
  <button class="tabbar menu">
      <img src="{% static 'icons/menu_active.png' %}" >
      <br>
      Menu
  </button>
</a>
<a href="{% url 'user_orders' %}">
  <button class="tabbar mybook">
      <img src="{% static 'icons/tables.png' %}">
      <br>
      Tische
  </button>
</a>
{% if user.is_authenticated %}
<a href="{% url 'account' %}">
  <button class="tabbar login_user">
      <img src="{% static 'icons/account.png' %}">
      <br>
      Profil
  </button>
</a>
{% else %} 
<a href="{% url 'login_user' %}">
  <button class="tabbar login_user">
      <img src="{% static 'icons/login.png' %}">
      <br>
      Login
  </button>
</a>
{% endif %}


<style>
 .menu-body {
  margin: 0 auto;
  display: block;
  color: black;
  max-width: 1000px;
}

.menu-section {
  margin-bottom: 2 vh;
}

.menu-section-title {
  font-family: 'Copperplate', fantasy;
  font-size: 5vh;
  display: block;
  font-weight:normal;
  text-align: Center;
}

.menu-item {
  margin: 1vh 0;
  font-size: 3vh;
}
/* .menu-title {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 90vh;
  width: 110vw;
  height: 10vh;
  left:-5vw;
  text-align: center;
  text-decoration: none;
  border:none;
  align-items: center;
  justify-content: center;

  font-family: 'Copperplate', fantasy;
  font-size: 5vh;
  color:var(--tabbar_text);
  background-color: var(--tabbar_background);
} */
.menu-item-name{
  font-family: 'Copperplate', fantasy;
  font-weight: bold;
  border-bottom: .4vh dotted black;
}

.menu-item-description {
  font-family: 'Copperplate', fantasy;
  font-style: italic;
  font-size: 2vh;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: 'Copperplate', fantasy;
  margin-top: -3.5vh;
}
</style>
<div class="menu-body">
 <div class="menu-section">
  <h2 class="menu-section-title">
   Vegetarian
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Vegetable Spring Rolls
   </div>
   <div class="menu-item-price">
    €8
   </div>
   <div class="menu-item-description">
    Cabbage, celery, carrots, green onions and Chinese noodles in a crispy wonton wrapper.(Vegan)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Chilli Gobi
   </div>
   <div class="menu-item-price">
    €10
   </div>
   <div class="menu-item-description">
    Fresh cauliflower prepared with fresh herbs and chili peppers.(Vegan)(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Chilli Tofu
   </div>
   <div class="menu-item-price">
    €10
   </div>
   <div class="menu-item-description">
    Grilled tofu prepared with fresh herbs and chili peppers.(Vegan)(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Gobi Manchurian
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Crispy cauliflower in savory Manchurian sauce.(Vegan)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Sweet &amp; Sour Vegetable
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Fresh vegetables mixed with pineapples in a sweet and source sauce.(Vegan)(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Manchurian Vegetable
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Round vegetable dumpling balls in a savory Manchurian sauce.(Vegan)
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Chicken
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Lollipop Chicken Wings
   </div>
   <div class="menu-item-price">
    €9
   </div>
   <div class="menu-item-description">
    (Vegan)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Chilli Chicken
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Tender pieces of chicken prepared with fresh herbs and chili peppers.(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Hot Garlic Chicken
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Sauteed chicken breast in a spicy garlic sauce.
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Broccoli Chicken
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Sliced chicken and broccoli in a tasty garlic sauce.(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Sweet &amp; Sour Chicken
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Diced chicken breast lightly stir-fried with a tangy sweet and spice sauce
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Manchurian Chicken
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Tender pieces of chicken in a savory Manchurian sauce.
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Basil Ginger Chicken
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Stir-fried sliced chicken breast with basil and garlic sauce.(Gluten-Free)
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Shrimp
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Hot Garlic Shrimp
   </div>
   <div class="menu-item-price">
    €16
   </div>
   <div class="menu-item-description">
    Large gourmet shrimp in a spicy garlic sauce.
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Schezwan Shrimp
   </div>
   <div class="menu-item-price">
    €16
   </div>
   <div class="menu-item-description">
    Gourmet shrimp sauteed with fresh vegetables in a savory schezwan sauce.
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Rice
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    White Basmati Rice
   </div>
   <div class="menu-item-price">
    €4
   </div>
   <div class="menu-item-description">
    (Vegan)(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Brown Basmati Rice
   </div>
   <div class="menu-item-price">
    €5
   </div>
   <div class="menu-item-description">
    (Vegan)(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Vegetable Fried Rice
   </div>
   <div class="menu-item-price">
    €12
   </div>
   <div class="menu-item-description">
    Basmati rice stir-fried and seasoned to perfection with fresh carrots, scallions and other vegetables.(Vegan)(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Chicken Fried Rice
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Basmati rice stir-fried and seasoned to perfection with shredded piece of tender chicken.(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Shrimp Fried Rice
   </div>
   <div class="menu-item-price">
    €16
   </div>
   <div class="menu-item-description">
    Basmati rice stir-friend with gourmet baby shrimp, fresh carrots, scallions and other vegetables.(Gluten-Free)
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Noodles
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Vegetable Hakka Noodles
   </div>
   <div class="menu-item-price">
    €12
   </div>
   <div class="menu-item-description">
    Hakka style noodles with fresh vegetables.(Vegan)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Chicken Hakka Noodles
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Hakka style noodles with tender pieces of chicken.
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Chilli Garlic Noodles
   </div>
   <div class="menu-item-price">
    €13
   </div>
   <div class="menu-item-description">
    Hakka style noodles with garlic and fresh chillis and spices.
   </div>
  </div>
 </div>
 <div class="menu-section">
  <h2 class="menu-section-title">
   Beverages
  </h2>
  <div class="menu-item">
   <div class="menu-item-name">
    Mango Lassi
   </div>
   <div class="menu-item-price">
    €5
   </div>
   <div class="menu-item-description">
    Traditional cold and refreshing yogurt based drink made with mango pulp.(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Poland Spring Water
   </div>
   <div class="menu-item-price">
    €2
   </div>
   <div class="menu-item-description">
    (Vegan)(Gluten-Free)
   </div>
  </div>
  <div class="menu-item">
   <div class="menu-item-name">
    Soda
   </div>
   <div class="menu-item-price">
    €2
   </div>
   <div class="menu-item-description">
    (Vegan)(Gluten-Free)
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
   </div>
  </div>
 </div>
</div>
{% endblock %}