
{% extends 'base.html' %}

{% block title %}Your Page Title{% endblock %}

{% block content %}
<style>




.login_user{color:var(--active_button)}


</style>
{% load static %}
<!-- <div class="block_back">

</div>
<div class="tabbar_back">

</div> -->
<a href="{% url 'home' %}">
  <button class="tabbar home">
      <img src="{% static 'icons/home.png' %}">
      <br>
      Start
  </button>
</a>
<a href="{% url 'menu' %}">
  <button class="tabbar menu">
      <img src="{% static 'icons/menu.png' %}" >
      <br>
      Menu
  </button>
</a>
<a href="{% url 'user_orders' %}">
  <button class="tabbar mybook">
      <img src="{% static 'icons/tables.png' %}">
      <br>
      Tische
  </button>
</a>
{% if user.is_authenticated %}
<a href="{% url 'account' %}">
  <button class="tabbar login_user">
      <img src="{% static 'icons/account.png' %}">
      <br>
      Profil
  </button>
</a>
{% else %} 
<a href="{% url 'login_user' %}">
  <button class="tabbar login_user">
      <img src="{% static 'icons/login_active.png' %}">
      <br>
      Login
  </button>
</a>

<!-- {% endif %} -->

<div class="wrapper">
  <div class="title-text">
    <div class="title login">Login Form</div>
    <div class="title signup">Signup Form</div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login">Login</label>
      <label for="signup" class="slide signup">Signup</label>
      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
      <form method="POST" action="{% url 'login_user'%}" class="login">
        {% csrf_token %}
        <div class="field">
          <input type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="Password">
        </div>
        <!-- <div class="pass-link"><a href="#">Forgot password?</a></div> -->
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Not a member? <br><a href="#" style="color: var(--red);">Signup now</a></div>
      </form>
      <form method="POST" action="{% url 'register_user'%}" class="signup">
        {% csrf_token %}
        <div class="field">
          <input type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
          <input type="text" name="last_name" placeholder="Nachname">
        </div>
        <div class="field">
          <input type="text" name="phone" placeholder="Phone">
        </div>
        <div class="field">
          <input type="password" name="password1" placeholder="Password">
        </div>
        <div class="field">
          <input type="password" name="password2" placeholder="Confirm Password">
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Signup">
        </div>
      </form>
    </div>
  </div>

</div>

<script>
  const loginText = document.querySelector(".title-text .login");
const loginForm = document.querySelector("form.login");
const loginBtn = document.querySelector("label.login");
const signupBtn = document.querySelector("label.signup");
const signupLink = document.querySelector("form .signup-link a");
signupBtn.onclick = () => {
  loginForm.style.marginLeft = "-50%";
  loginText.style.marginLeft = "-50%";
};
loginBtn.onclick = () => {
  loginForm.style.marginLeft = "0%";
  loginText.style.marginLeft = "0%";
};
signupLink.onclick = () => {
  signupBtn.click();
  return false;
};
  </script>

 <!-- <a href="{% url 'register_user' %}"> -->
  <!-- <button class="standard_button register">New User</button> -->
<!-- </a> -->
<!-- 
<form method="POST" action="{% url 'login_user'%}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label form-label1">Username</label>
    <input type="text" class="standard_button username" name="username" aria-describedby="emailHelp">
    <label for="exampleInputPassword1" class="form-label form-label2">Password</label>
    <input type="password" class="standard_button username password" name="password">
  <button type="submit" class="standard_button">Submit</button>
</form> -->
<!-- </div> -->
<!-- {% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
{% endif %} -->


{% endblock %} 