{% extends 'base.html' %}

{% block title %}Your Page Title{% endblock %}

{% block content %}
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>
    <!-- <script src="/static/js/firebase-messaging-sw.js"></script>

     -->



     <script>
       var firebaseConfig = {
        apiKey: "AIzaSyCtnbzPNKXXP0ecFOdX6HnH0WAZdSTTEXo",
        authDomain: "triglis-8c70f.firebaseapp.com",
        projectId: "triglis-8c70f",
        storageBucket: "triglis-8c70f.appspot.com",
        messagingSenderId: "326214577770",
        appId: "1:326214577770:web:cb91775ceef9401eab2413",
        measurementId: "G-WTXNXDVTZ7"
      };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
      
        const messaging = firebase.messaging();
        console.log(messaging.getToken())
        messaging.getToken({ vapidKey: 'BK8quVdKKHUockQYSVKEkeu2FheWYzBH9wcHYB7Ko-IbNYQsJoCvE9A7FsooT9c5pTfSVs7fSGzT8jmfukErGXE' }).then((currentToken) => {
            if (currentToken) {
            // Send the token to the Django backend
            fetch('/update_fcm_token/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'currentToken': currentToken,
                }),
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error updating token:', error));
//             fetch('/save-firebase-token/', {
//     method: 'POST',
//     headers: {
//         'Content-Type': 'application/json',
//         // Add any other headers if necessary
//     },
//     body: JSON.stringify({ token: currentToken }),
// })
//     .then(response => response.json())
//     .then(data => {
//         console.log(data);
//         // Handle the response as needed
//     })
//     .catch(error => {
//         console.error('Error:', error);
//     });

        } else {
          console.log('No registration token available. Request permission to generate one.');
       
        }
      }).catch((err) => {
        console.log('An error occurred while retrieving token. ', err);
      });
      
      
        messaging
         .requestPermission()
         .then(function () {
           console.log("Notification permission granted.");
           return messaging.getToken()
         })
         .catch(function (err) {
         console.log("Unable to get permission to notify.", err);
       });
      
      
        messaging.onMessage((payload) => {
        console.log('Message received. ', payload);
       
    // Check if the browser supports notifications
    if ("Notification" in window) {
        console.log('Yes ');
        // Request permission to show notifications
        Notification.requestPermission().then((permission) => {
            if (permission === "granted") {
                // Create a notification
                console.log('Yes 2');
                const notification = new Notification("New Message", {
                    body: payload.message, // You can customize the body with the actual message
                });

                // Optional: You can handle the click event on the notification
                notification.onclick = () => {
                    // Handle the click event, e.g., redirect to a specific page
                    console.log("Notification clicked");
                };
            }
        });
    }
    else{console.log('No');}
      });
      
    

      
      </script>
  

  {% endblock %}



  