
{% extends 'base.html' %}

{% block title %}Your Page Title{% endblock %}

{% block content %}

    <style>
    .mybook{color:var(--active_button)}

        

    </style>
   

     {% if user.is_authenticated %}
     <div class="tables-container">
     {% for order in user_orders %}
    
     {% if order.confirmation == 'Nein'%}
     <div class="table_button" style="margin-bottom: 2vh; height: 24vh;"><label>{{ order.date }} {{ order.time }}</label>
      {% else %}
      <div class="table_button" style="margin-bottom: 2vh;"><label>{{ order.date }} {{ order.time }}</label>
        {% endif %}
      <hr> 
      <div class="text_st">
        {% if order.last_name == ''%}
      <br> {{ order.user.last_name }}
      {% else %}
      <br> {{ order.last_name}}
      {% endif %}
      
      <br> Gäste: {{ order.guests }} <br> Bestätigt: {{ order.confirmation }} <br></label>
    </div> 
    {% if order.confirmation == 'Nein'%}
    <a href="{% url 'confirm' %}?method=confirm&book_id={{ order.id }}">
        <button class="confirm">Bestätigen</button>
      </a>

      <a href="{% url 'confirm' %}?method=cancel&book_id={{ order.id }}">
        <button class="cancel">Absagen</button>
      </a>
      {% endif %}
      
     
    <br>
    <br>
    <br>
    <br>
  </div>
  
    
     {% endfor %}
    
     {% endif %}

    <!-- <a href="{% url 'confirm' %}">
      <button class="table_button"><label>Confirm</label></button>
      <br/> -->

  </a>

</div>

     {% load static %}
<a href="{% url 'home' %}">
  <button class="tabbar home">
      <img src="{% static 'icons/home.png' %}">
      <br>
      Start
  </button>
</a>
<a href="{% url 'menu' %}">
  <button class="tabbar menu">
      <img src="{% static 'icons/menu.png' %}" >
      <br>
      Menu
  </button>
</a>
<a href="{% url 'user_orders' %}">
  <button class="tabbar mybook">
      <img src="{% static 'icons/tables_active.png' %}">
      <br>
      Tische
  </button>
</a>
{% if user.is_authenticated %}
<a href="{% url 'account' %}">
  <button class="tabbar login_user">
      <img src="{% static 'icons/account.png' %}">
      <br>
      Profil
  </button>
</a>
{% else %} 
<a href="{% url 'login_user' %}">
  <button class="tabbar login_user">
      <img src="{% static 'icons/login.png' %}">
      <br>
      Login
  </button>
</a>

{% endif %}
 
{% endblock %}