
{% extends 'base.html' %}

{% block title %}Your Page Title{% endblock %}

{% block content %}

   
<style>
    label {
      font-size: 4vh;
      margin-bottom: 2vh; /* Adjust the value as needed */
    }
  </style>
     {% if user.is_authenticated %}
     {% for order in user_orders %}
     <label>{{ order.date }} <br>{{ order.time }} <br> Guests: {{ order.guests }} <br> Confirmed: {{ order.confirmation }}<br><br></label>
     
     {% endfor %}
     {% endif %}
     
    
     <!-- Display other order information as needed -->
 
{% endblock %}