
{% extends 'base.html' %}

{% block title %}Your Page Title{% endblock %}

{% block content %}

   
<style>
  
    .mybook{color:var(--active_button)}
  </style>
     {% if user.is_authenticated %}
     <div class="tables-container">
     {% for order in user_orders %}

     <div class="table_button"><label>{{ order.date }} </label><br>{{ order.time }} <br> Gäste: {{ order.guests }} <br> Bestätigt: {{ order.confirmation }}<br><br></label>
     
     {% endfor %}
     <div class="button-container"></div>
     {% endif %}
     <br/>
    <br/>
    <br/>

   
    
     {% load static %}
<a href="{% url 'home' %}">
  <button class="tabbar home">
      <img src="{% static 'icons/home.png' %}">
      <br>
      Start
  </button>
</a>
<a href="{% url 'menu' %}">
  <button class="tabbar menu">
      <img src="{% static 'icons/menu.png' %}" >
      <br>
      Menu
  </button>
</a>
<a href="{% url 'user_orders' %}">
  <button class="tabbar mybook">
      <img src="{% static 'icons/tables_active.png' %}">
      <br>
      Tische
  </button>
</a>
{% if user.is_authenticated %}
<a href="{% url 'account' %}">
  <button class="tabbar login_user">
      <img src="{% static 'icons/account.png' %}">
      <br>
      Profil
  </button>
</a>
{% else %} 
<a href="{% url 'login_user' %}">
  <button class="tabbar login_user">
      <img src="{% static 'icons/login.png' %}">
      <br>
      Login
  </button>
</a>

{% endif %}
 
 
{% endblock %}