
{% extends 'base.html' %}

{% block title %}Your Page Title{% endblock %}

{% block content %}

   
<style>
    li {
      font-size: 5vh;
      margin-bottom: 1vh; /* Adjust the value as needed */
    }
  </style>
     {% if user.is_authenticated %}
     {% for order in user_orders %}
     <li>{{ order.date }} - {{ order.time }} -Guests: {{ order.guests }} <br> Confirmed: {{ order.confirmation }}</li>
     
     {% endfor %}
     {% endif %}
     
    
     <!-- Display other order information as needed -->
 
{% endblock %}